@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* All dedications */
section[epub|type~="dedication"]{
	font-variant: small-caps;
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

section[epub|type~="dedication"] > footer{
	margin-top: 1em;
	width: 100%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End all dedications */

/* All letters */
[epub|type~="z3998:letter"] header{
	text-align: initial;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End all letters */

#appendix-a > blockquote{
	margin-left: 0;
	margin-right: 0;
}

#appendix-a footer p:nth-child(3),
#appendix-a footer p:nth-child(5){
	text-align: initial;
	text-indent: 0;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

/* Poems */
[epub|type~="z3998:verse"] p{
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}
/* End poems */

#appendix-d > p:nth-child(2),
#appendix-d > p:nth-child(3),
#appendix-d > p:nth-child(4),
#appendix-d > p:nth-child(6){
	text-align: center;
	text-indent: 0;
}

#appendix-e > blockquote{
	margin-left: 0;
	margin-right: 0;
}

#appendix-f p:nth-child(7){
	break-before: page;
}

#appendix-f p:nth-child(8){
	text-indent: 0;
}
